# WebRTC Call Configuration
TURN_USERNAME=0038547b7a68d752edf38806
TURN_PASSWORD=+jvwYkp6Z9wSJxy0
# Set to true to use TURN servers, false for only Google STUN
USE_MANAGED_ICE_SERVERS=true

# Firebase Configuration
# Values from: https://console.firebase.google.com/project/iuh-cnm-vnalo/settings/general
FIREBASE_API_KEY=AIzaSyAmgR7feQwJWdI_HWhb2OaC9Oj_tKAY9Kk
FIREBASE_AUTH_DOMAIN=iuh-cnm-vnalo.firebaseapp.com
FIREBASE_PROJECT_ID=iuh-cnm-vnalo
FIREBASE_STORAGE_BUCKET=iuh-cnm-vnalo.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1039573747155
FIREBASE_APP_ID=1:1039573747155:android:128b79d033b64475361b26
