# WebRTC Call Configuration
TURN_USERNAME=openrelayproject
TURN_PASSWORD=openrelayproject
# Set to true to use TURN servers, false for only Google STUN
USE_MANAGED_ICE_SERVERS=true

# Firebase Configuration
FIREBASE_API_KEY=your_api_key_here
FIREBASE_PROJECT_ID=your_project_id_here
FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
FIREBASE_APP_ID=your_android_app_id_here
FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com

